/* Welcome page
 - - - - - - - - - - - - - - - - - - - - - - - - -*/

 .home-page {

  .background-header {
      display: none;
  }

  .jumbo {

    @media only screen and (max-width: 414px) {
      background: #ffffff image-url("welcome/head_small.png");
      background-position: bottom;
      background-size: 100% auto;
      background-repeat: no-repeat;
      padding-bottom: rem-calc(220);

      span {
        display: none;
      }

      .lead {
        color: $brand;
        font-size: rem-calc(30);
        font-weight: 700;
        line-height: rem-calc(30);
      }

      .button {
        background: $brand;
        color: #fff;
        max-width: 100%;
      }
    }

    @media only screen and (min-width: 414px) and (max-width: 550px) {
      background: #ffffff image-url("welcome/head_small.png");
      background-position: bottom;
      background-size: 100% auto;
      background-repeat: no-repeat;
      padding-bottom: rem-calc(330);
      color: $brand;

      span {
        display: none;
      }

      .lead {
        color: $brand;
        font-size: rem-calc(30);
        font-weight: 700;
        line-height: rem-calc(30);
      }

      .button {
        background: $brand;
        color: #fff;
        max-width: 100%;
      }
    }

    @media only screen and (min-width: 550px) and (max-width: 640px) {
      background: #ffffff image-url("welcome/head_small.png");
      background-position: bottom;
      background-size: 100% auto;
      background-repeat: no-repeat;
      padding-bottom: rem-calc(390);
      color: $brand;

      span {
        display: none;
      }

      .lead {
        color: $brand;
        font-size: rem-calc(30);
        font-weight: 700;
        line-height: rem-calc(30);
      }

      .button {
        background: $brand;
        color: #fff;
        max-width: 100%;
      }
    }

    @media only screen and (min-width: 640px) and (max-width: 768px) {
      padding-top: 10px;
      background: image-url("welcome/head_medium.png");
      background-size: 100% auto;;
      background-repeat: no-repeat;
      padding-bottom: rem-calc(250);
      color: $brand;

      span {
        display: none;
      }

      .lead {
        color: $brand;
        font-size: rem-calc(30);
        font-weight: 700;
        line-height: rem-calc(30);
      }

      .button {
        background: $brand;
        color: #fff;
        max-width: 100%;
      }

      h1 {
        font-size: rem-calc(30);
      }
    }

    @media only screen and (min-width: 768px) and (max-width: 950px) {
      padding-top: 40px;
      background: image-url("welcome/head_medium.png");
      background-size: 100% auto;;
      background-repeat: no-repeat;
      padding-bottom: rem-calc(250);
      color: $brand;

      .lead {
        color: $brand;
        font-size: rem-calc(30);
        font-weight: 700;
        line-height: rem-calc(30);
      }

      .button {
        background: $brand;
        color: #fff;
        max-width: 100%;
      }

      h1 {
        font-size: rem-calc(38);
      }
    }


    @media only screen and (min-width: 950px) and (max-width: 1280px) {
      padding-top: 40px;
      background: image-url("welcome/head_medium.png");
      background-size: 100% auto;;
      background-repeat: no-repeat;
      padding-bottom: rem-calc(300);
      color: $brand;

      .lead {
        color: $brand;
        font-size: rem-calc(30);
        font-weight: 700;
        line-height: rem-calc(30);
      }

      .button {
        background: $brand;
        color: #fff;
        max-width: 100%;
      }
    }
    
    @media only screen and (min-width: 1280px) and (max-width: 1554px) {
      padding-top: 40px;
      background: image-url("welcome/head_large.png");
      background-size: 100% auto;;
      background-repeat: no-repeat;
      padding-bottom: rem-calc(300);
      color: $brand;

      .lead {
        color: $brand;
        font-size: rem-calc(30);
        font-weight: 700;
        line-height: rem-calc(30);
      }

      .button {
        background: $brand;
        color: #fff;
        max-width: 100%;
        margin-top: rem-calc(10);
      }
    }

    @media only screen and (min-width: 1554px) and (max-width: 1900px) {
      padding-top: 40px;
      background: image-url("welcome/head_large.png");
      background-size: 100% auto;;
      background-repeat: no-repeat;
      padding-bottom: rem-calc(380);
      color: $brand;

      .lead {
        color: $brand;
        font-size: rem-calc(30);
        font-weight: 700;
        line-height: rem-calc(30);
      }

      .button {
        background: $brand;
        color: #fff;
        max-width: 100%;
        margin-top: rem-calc(10);
      }
    }

    @media only screen and (min-width: 1900px) {
      padding-top: 370px;
      background: image-url("welcome/head_large.png");
      background-size: 100% auto;;
      background-repeat: no-repeat;
      padding-bottom: rem-calc(80);
      color: $brand;

      .lead {
        color: $brand;
        font-size: rem-calc(30);
        font-weight: 700;
        line-height: rem-calc(30);
      }

      .button {
        background: $brand;
        color: #fff;
        max-width: 100%;
      }
    }
  }
}

/* Dropdown -------------------- */

.main-nav,
.drop-nav {
  background: #d0003a;
}
.main-nav {
  float: left;
}
  .main-nav > li {
    float: left;
  }
  .main-nav li:first-child {
    border-left: none;
  }
  .main-nav a {
    color: #fff;
    display: block;
    text-decoration: none;
  }
.dropdown,
.flyout {
  position: relative;
  padding-right: 10px;
}

.drop-nav,
.flyout-nav {
  position: absolute;
  display: none;
  padding: 0px 0px 0px 10px;
}
.drop-nav li {
  border-bottom: 1px solid rgba(255,255,255,.2);
  width: 100%;
}
.dropdown:hover > .drop-nav,
.flyout:hover > .flyout-nav {
  display: block;
}
.flyout-nav {
  left: 100%;
  top: 0;
}
.flyout:hover a,
.flyout-nav {
  background: #d0003a;
}


#alert {
  z-index: 150;
  position: absolute;
}


#notice {
  z-index: 150;
  position: absolute;
}



// Bugfix

.topless {
  @include breakpoint(small) {
    top: auto !important;
    }
 
  @include breakpoint(medium) {
  top: 0px !important;
  }
}



// 02. Header
// ----------


.top-bar {
  @media only screen and (min-width: 414px) and (max-width: 1140px) {    
    h2 {
      display:none;
    }
  }
}

.top-h1 {
  padding-left: 10px;
}


.subnavigation {

  @include breakpoint(medium) {
    background: #d0003a;
  }

  a {

    @include breakpoint(medium) {
      color: #fff;
    }

  }
}