// Overrides and adds customized foundation settings in this file
// Read more on documentation:
// * English: https://github.com/consul/consul/blob/master/CUSTOMIZE_EN.md#css
// * Spanish: https://github.com/consul/consul/blob/master/CUSTOMIZE_ES.md#css
//

$brand:             #003D90;
$dark:              darken($brand, 3%);

$body-font-family: 'Humnst b', 'Humnst b', 'Humnst i', sans-serif !important;
$header-font-family: 'Humnst b', 'Humnst b', 'Humnst i', sans-serif !important;
$base-font-size:      16px;

