// Overrides and adds customized styles in this file
// Read more on documentation:
// * English: https://github.com/consul/consul/blob/master/CUSTOMIZE_EN.md#css
// * Spanish: https://github.com/consul/consul/blob/master/CUSTOMIZE_ES.md#css
//

@import 'custom_fonts';


/* Dropdown -------------------- */

.main-nav,
.drop-nav {
  background: #d0003a;
}
.main-nav {
  float: left;
}
  .main-nav > li {
    float: left;
  }
  .main-nav li:first-child {
    border-left: none;
  }
  .main-nav a {
    color: #fff;
    display: block;
    padding: 0px 0px 0px 10px;
    text-decoration: none;
  }
.dropdown,
.flyout {
  position: relative;
  padding-right: 10px;
}

.drop-nav,
.flyout-nav {
  position: absolute;
  display: none;
}
.drop-nav li {
  border-bottom: 1px solid rgba(255,255,255,.2);
  width: 100%;
}
.dropdown:hover > .drop-nav,
.flyout:hover > .flyout-nav {
  display: block;
}
.flyout-nav {
  left: 100%;
  top: 0;
}
.flyout:hover a,
.flyout-nav {
  background: #d0003a;
}
