// Overrides and adds customized styles in this file
// Read more on documentation:
// * English: https://github.com/consul/consul/blob/master/CUSTOMIZE_EN.md#css
// * Spanish: https://github.com/consul/consul/blob/master/CUSTOMIZE_ES.md#css
//

@import 'custom_fonts';

/* Dropdown -------------------- */

.main-nav,
.drop-nav {
  background: #d0003a;
}
.main-nav {
  float: left;
}
  .main-nav > li {
    float: left;
  }
  .main-nav li:first-child {
    border-left: none;
  }
  .main-nav a {
    color: #fff;
    display: block;
    text-decoration: none;
  }
.dropdown,
.flyout {
  position: relative;
  padding-right: 10px;
  z-index: 1000;
}

.drop-nav,
.flyout-nav {
  position: absolute;
  display: none;
  padding: 0px 0px 0px 10px;
  z-index: 1000;
}
.drop-nav li {
  border-bottom: 1px solid rgba(255,255,255,.2);
  width: 100%;
}
.dropdown:hover > .drop-nav,
.flyout:hover > .flyout-nav {
  display: block;
}
.flyout-nav {
  left: 100%;
  top: 0;
}
.flyout:hover a,
.flyout-nav {
  background: #d0003a;
}


#alert {
  z-index: 150;
  position: absolute;
}


#notice {
  z-index: 150;
  position: absolute;
}



// Bugfix

.topless {
  @include breakpoint(small) {
    top: auto !important;
    }
 
  @include breakpoint(medium) {
  top: 0px !important;
  }
}



// 02. Header
// ----------


.top-bar {
  @media only screen and (min-width: 414px) and (max-width: 1140px) {    
    h2 {
      display:none;
    }
  }
}

.top-h1 {
  padding-left: 10px;
}


.subnavigation {

  @include breakpoint(medium) {
    background: #d0003a;
  }

  a {

    @include breakpoint(medium) {
      color: #fff;
    }

  }
}